@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff40;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff80;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(145deg, #eb7f55, #be3029);
  color: #f0ece4;
  font-family: Arial, Helvetica, sans-serif;
} 